$maincolor  : #161B33;
$secondcolor : #0D0C1D;
$yellowtext : #F1DAC4;
$hamburgercolor : #F1DAC4;
$articlebackground : #0D0C1D;
$desktopbackgroundcolor : #0D0C1D;
$desktopmaincolor: #161B33;
$dekstoptextcolor :#F1DAC4;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body{
    margin:  0 ;
    font-family: 'Poppins', sans-serif;

}


/*HEADER STARTS*/

.header{

    background-color:   $maincolor; 
    display: flex;
    height: 62px ;
    padding-left: 15px;
    padding-right: 31px;
    
        /*Sticky header kod*/
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 50px;
        
        /*////Sticky header kod*/

    

    .menumain{
        
        color: white;
        align-self: center;
        flex: 1;
     


          .flex-center {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          * {
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
          }
          a,
          a:visited,
          a:hover,
          a:active {
            color: inherit;
            text-decoration: none;
          }
          h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 2em;
            text-align: center;
          }
          .outer-menu {
           
            top: 10vh;
            left: 0;
            z-index: 1;
          }
          .outer-menu .checkbox-toggle {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
      
            cursor: pointer;
            width: 60px;
            height: 60px;
            opacity: 0;
         
          }
          .outer-menu .checkbox-toggle:checked + .hamburger > div {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
          }
          .outer-menu .checkbox-toggle:checked + .hamburger > div:before,
          .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
            top: 0;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
          .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
            opacity: 0;
          }
          .outer-menu .checkbox-toggle:checked ~ .menu {
            pointer-events: auto;
            visibility: visible;
          }
          .outer-menu .checkbox-toggle:checked ~ .menu > div {
            -webkit-transform: scale(1);
            transform: scale(1);
            transition-duration: 0.75s;
          }
          .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
            opacity: 1;
            transition: opacity 0.4s ease 0.4s;
          }
          
          .outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
            -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
          }
          .outer-menu .hamburger {
            position: absolute;
            top: 0;
            z-index: 1;
            width: 60px;
            height: 50px;
            padding: 0.5em 1em;
            border-radius: 0 0.12em 0.12em 0;
            cursor: pointer;
            transition: box-shadow 0.4s ease;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .outer-menu .hamburger > div {
            position: relative;
            flex: none;
            width: 100%;
            height: 2px;
            background: $hamburgercolor;
            transition: all 0.4s ease;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .outer-menu .hamburger > div:before,
          .outer-menu .hamburger > div:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: -10px;
            left: 0;
            width: 100%;
            height: 2px;
            background: inherit;
            transition: all 0.4s ease;
          }
          .outer-menu .hamburger > div:after {
            top: 10px;
          }
          .outer-menu .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            visibility: hidden;
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            outline: 1px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .outer-menu .menu > div {
            width: 200vw;
            height: 200vw;
            color: #fefefe;
            background-image: url(../img/menu-backgroundblur.png);
            background-size: cover;


            border-radius: 50%;
            transition: all 0.4s ease;
            flex: none;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .outer-menu .menu > div > div {
            text-align: center;
            max-width: 90vw;
            max-height: 100vh;
            opacity: 0;
            transition: opacity 0.4s ease;
            overflow-y: auto;
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .outer-menu .menu > div > div > ul {
            list-style: none;
            padding: 0 1em;
            margin: 0;
            display: block;
            max-height: 100vh;
          }
          .outer-menu .menu > div > div > ul > li {
            padding: 0;
            margin: 1em;
            font-size: 24px;
            display: block;
          }
          .outer-menu .menu > div > div > ul > li > a {
            position: relative;
            display: inline;
            cursor: pointer;
            transition: color 0.4s ease;
          }
          .outer-menu .menu > div > div > ul > li > a:hover {
            color: $hamburgercolor;
          }
          .outer-menu .menu > div > div > ul > li > a:hover:after {
            width: 100%;
          }
          .outer-menu .menu > div > div > ul > li > a:after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: -0.15em;
            left: 0;
            width: 0;
            height: 2px;
            background: $hamburgercolor;
            transition: width 0.4s ease;
          }
       
       
    }


    .logo{

        color: white;
        align-self: center;
        flex: 2;
        text-align: center;
            #logo{
              width: 35px;
              height: 30px;
              padding-top: 10px;
              padding-right: 30px;
          }
      
   
    }

    .extension{
        background-color: rgb(152, 40, 40);
        align-self: center;
        flex: 1;
    }


    #logoham{
      width: 135px;
      height: 120px;
      padding-right: 30px;
  }
    


  

}

/*HEADER ENDS*/



/*BODY Begins*/


.body1article{

    width: 100%;
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/seafloor.jpg);
    background-size: cover;
    background-position: 10% 60%;

        .seafloortext{
            color: $yellowtext;
            text-align: center;
            font-size: 39px;
            font-weight: 900;
            letter-spacing: 0.1em;
            
        }
}
  

.body2article{

    background-color: $articlebackground;
    color: white;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

        .arttext1{

            text-align: center;
        }
    


        
}






footer{

    display: flex;
    width: 100%;
    background-color: $maincolor;
    height: 40px;
    color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top: 2px solid $yellowtext;
    
 

        #fotspan{
            
            align-self: center;
        }
}

/*BODY 3 end*/



.body3article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $articlebackground;
    padding-bottom: 30px;

    .articletext1{
    padding-left: 31px;
    padding-right: 31px;
    }


    .itemarticle {

        width: 100%;
        height: 175px;
        background-size: cover;
        margin-bottom: 20px;

     
    }

    .itemarticle2{
      width: 100%;
      height: 260px;
      background-size: cover;
      margin-bottom: 20px;
        
    }



    .itemarticle3{
      width: 100%;
      height: 260px;
      background-size: cover;
      margin-top: 30px;
    }

    .itemarticle4{
      width: 100%;
      height: 319px;
      background-size: cover;

    }



  
}

.txtwhite{
    font-size: 16px;
    color: white;
    text-align: left;
}

h1{

    color: $yellowtext;
    text-align: center;
}

.video1{

    margin-top: 25px;
    margin-bottom: 60px;
    width: 80%;
    height: 244px;
}



.video2{

  margin-top: 25px;
  margin-bottom: 60px;
  width: 100%;
  height: 260px;
}


/*BODY 3 end*/


/*FOODS BEGINS*/

.body1food{

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../img/blurred-aboutus.png);
  background-size: cover;
  background-position: 20% 90%;

      .seafloortext{
          color: $yellowtext;
          text-align: center;
          font-size: 39px;
          font-weight: 900;
          padding-top: 80%;
          letter-spacing: 0.1em;
          
      }
}

.body1zones{

  width: 100%;
  height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/NatGeoDeepSeaExplore.jpg);
  background-size: cover;;
  background-position: 80% 90%;

      .zonestext{
          color: $yellowtext;
          text-align: center;
          font-size: 39px;
          font-weight: 800;
          
      }
}

.body2prespeach{

  background-color: $articlebackground;
  color: white;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;

      .prespeach{
        margin: 20px;

          text-align: center;
      }
  


      
}

.body3article{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $articlebackground;

  .articletext1{
  padding-left: 31px;
  padding-right: 31px;
  }


  .itemarticle {

      width: 100%;
      height: 175px;
      background-size: cover;
      margin-bottom: 20px;

   
  }

  .itemarticle2{
    width: 100%;
    height: 260px;
    background-size: cover;
    margin-bottom: 20px;
      
  }



  .itemarticle3{
    width: 100%;
    height: 260px;
    background-size: cover;
    margin-top: 30px;
  }

  .itemarticle4{
    width: 100%;
    height: 319px;
    background-size: cover;

  }

.itemarticlebox-1{

  
  background-image: url(../img/image32.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.itemarticle2box-1{

  
  background-image: url(../img/Vents-on-the-Juan-de-Fuca-ridge.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.itemarticle3box-1{
  background-image: url(../img/jeronimo-martins-nudibranch.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.itemarticle4box-1{
  background-image: url(../img/tmpnull.gif);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

}

.txtwhite{
  font-size: 16px;
  color: white;
  text-align: left;
}

h1{

  color: $yellowtext;
  text-align: center;
}

.video1{

  margin-top: 25px;
  margin-bottom: 60px;
  width: 80%;
  height: 244px;
}

.listofmembers{

  list-style: none;
  color: $yellowtext;
  text-align: center;
  padding: 0;
  margin: 0;
}

.headerdesktop,.aboutustitledesktop ,.bodydesktop{
    display: none;
}


.video2{

margin-top: 25px;
margin-bottom: 60px;
width: 100%;
height: 260px;
}

.subtextsuste{
  display: none;
}




@media (min-width:  769px) {

  .header , footer ,.body3article{
    display: none;
  }

  a {
    color:$dekstoptextcolor;
    text-decoration: none; 


  }

  html {
    overflow: hidden;
}
  
body{
   
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;

}





  .menuhover:hover{
  
    -webkit-mask-image: linear-gradient(-75deg, rgba(105, 23, 23, 0.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2.5s infinite;
  }
  
  .listofmembers{

    list-style: none;
    color: $yellowtext;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  
.body1food{
  background-image: none;
}
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }

  .body1food{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transform-style: preserve-3d;
  
        .seafloortext{
            color: $yellowtext;
            text-align: center;
            font-size: 39px;
            font-weight: 900;
            padding-top: 80%;
            letter-spacing: 0.1em;
            
        }
  }

.body1food::before{
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-image: url("../img/blurred-aboutus.png");
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2);

}



  li{


    list-style-type: none;
    margin-left: 30px;
  }


  .headerdesktop{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }


  .logodekstop{
    
    width: 45px;
    height: 40px;
    flex-grow: 1;
    text-align: center;
    
    
    
    
  }

  .menudekstop{
    display: flex;
    flex: row;
    margin-left: 5%;
    align-self: center;



    
  
  }

  .menudekstop2{
    display: flex;
    flex: row;
    align-self: center;
    margin-right: 5%;

  }

  

  .aboutustitledesktop{
    display: flex;
    background-color: $desktopbackgroundcolor;
    padding-top: 85px;
    padding-bottom: 50px;
  }

  .subtextsuste{

    display: block;
    color: $yellowtext;
    text-align: center;
    font-size: 31px;
    font-weight: 600;
    margin-top: 270px;
    letter-spacing: 0.1em;
    
  }

  .bodydesktop{
    background-color: $desktopbackgroundcolor;
    display: flex;
    flex-direction: column;
    padding-left: 92px;
    padding-right: 92px;
    z-index: 2;
    position: relative;
    padding-top: 200px;
   



      .bodydesktopsection1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 205px;
        
      }

      .bodydesktopsection1text{
       flex: 1;
        width: 22%;
        height: 22%;
        margin-top: 50px;
       
      

          h1{
            font-size: 2em;
            text-align: left;
          }


      }

     .spacer{
       width: 30vh;
       height: 393px;
   
     }

      .bodydesktopsection1img{

        flex: 1;
        width: 694px;
        height: 393px;

       

      }
      




      .image11{
        width: 100%;
        height: 100%;
      }



            .bodydesktopsection2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 205px;
        
      }

      .bodydesktopsection2text{
       flex: 1;
        width: 22%;
        height: 22%;
        
       
      

          h1{
            font-size: 2em;
            text-align: left;
          }


      }

     .spacer2{
       width: 30vh;
       height: 393px;
     }

      .bodydesktopsection2img{

        flex: 1;
        width: 694px;
        height: 393px;

       

      }
      




      .image22{
        width: 100%;
        height: 100%;
      }
      
       
       
       
      

      .bodydesktopsection3 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 205px;
        
      }

      .bodydesktopsection3text{
       flex: 1;
        width: 22%;
        height: 22%;
        margin-top: 50px;
       
      

          h1{
            font-size: 2em;
            text-align: left;
          }


      }

     .spacer3{
       width: 30vh;
       height: 393px;
     }

      .bodydesktopsection3img{

        flex: 1;
        width: 694px;
        height: 393px;

       

      }
      




      .image33{
        width: 100%;
        height: 100%;
       
      }


      
      .bodydesktopsection4 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        
      }
  
      .bodydesktopsection4text{
       flex: 1;
        width: 22%;
        height: 22%;
        
     
      
  
          h1{
            font-size: 2em;
            text-align: left;
          }
  
  
      }
  
     .spacer4{
       width: 30vh;
       height: 393px;
     }
  
      .bodydesktopsection4img{
  
        flex: 1;
        width: 694px;
        height: 393px;
  
       
  
      }
      
  
  
  
  
      .image44{
        width: 100%;
        height: 100%;
      }
  
  


    }

    .seafloortext{
      display: none;
    }


    .foodtext{
      color: $yellowtext;
      text-align: center;
      font-size: 39px;
      font-weight: 900;
      
      
  }

   


 
   
    

  }





.bodymobilesection1img{

  width: 100%;


}

.image111{
  height: 250px;
  width: 100%;
}

