$maincolor  : #161B33;
$secondcolor : #0D0C1D;
$yellowtext : #F1DAC4;
$hamburgercolor : #F1DAC4;
$articlebackground : #0D0C1D;
$desktopbackgroundcolor : #0D0C1D;
$desktopmaincolor: #161B33;
$dekstoptextcolor :#F1DAC4;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body{
    margin:  0 ;
    font-family: 'Poppins', sans-serif;

  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;

   

}
html {
  overflow: hidden;
}

/*HEADER STARTS*/

.header{

    background-color:   $maincolor; 
    display: flex;
    height: 62px ;
    padding-left: 15px;
    padding-right: 31px;
    
        /*Sticky header kod*/
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 50px;
        
        /*////Sticky header kod*/

    

    .menumain{
        
        color: white;
        align-self: center;
        flex: 1;
     


          .flex-center {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          * {
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
          }
          a,
          a:visited,
          a:hover,
          a:active {
            color: inherit;
            text-decoration: none;
          }
          h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 3em;
            text-align: center;
          }
          .outer-menu {
           
            top: 10vh;
            left: 0;
            z-index: 1;
          }
          .outer-menu .checkbox-toggle {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
      
            cursor: pointer;
            width: 60px;
            height: 60px;
            opacity: 0;
         
          }
          .outer-menu .checkbox-toggle:checked + .hamburger > div {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
          }
          .outer-menu .checkbox-toggle:checked + .hamburger > div:before,
          .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
            top: 0;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
          .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
            opacity: 0;
          }
          .outer-menu .checkbox-toggle:checked ~ .menu {
            pointer-events: auto;
            visibility: visible;
          }
          .outer-menu .checkbox-toggle:checked ~ .menu > div {
            -webkit-transform: scale(1);
            transform: scale(1);
            transition-duration: 0.75s;
          }
          .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
            opacity: 1;
            transition: opacity 0.4s ease 0.4s;
          }
          
          .outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
            -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
          }
          .outer-menu .hamburger {
            position: absolute;
            top: 0;
            z-index: 1;
            width: 60px;
            height: 50px;
            padding: 0.5em 1em;
            border-radius: 0 0.12em 0.12em 0;
            cursor: pointer;
            transition: box-shadow 0.4s ease;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .outer-menu .hamburger > div {
            position: relative;
            flex: none;
            width: 100%;
            height: 2px;
            background: $hamburgercolor;
            transition: all 0.4s ease;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .outer-menu .hamburger > div:before,
          .outer-menu .hamburger > div:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: -10px;
            left: 0;
            width: 100%;
            height: 2px;
            background: inherit;
            transition: all 0.4s ease;
          }
          .outer-menu .hamburger > div:after {
            top: 10px;
          }
          .outer-menu .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            visibility: hidden;
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            outline: 1px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .outer-menu .menu > div {
            width: 200vw;
            height: 200vw;
            color: #fefefe;
            background-image: url(../img/menu-backgroundblur.png);
            background-size: cover;


            border-radius: 50%;
            transition: all 0.4s ease;
            flex: none;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .outer-menu .menu > div > div {
            text-align: center;
            max-width: 90vw;
            max-height: 100vh;
            opacity: 0;
            transition: opacity 0.4s ease;
            overflow-y: auto;
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .outer-menu .menu > div > div > ul {
            list-style: none;
            padding: 0 1em;
            margin: 0;
            display: block;
            max-height: 100vh;
          }
          .outer-menu .menu > div > div > ul > li {
            padding: 0;
            margin: 1em;
            font-size: 24px;
            display: block;
          }
          .outer-menu .menu > div > div > ul > li > a {
            position: relative;
            display: inline;
            cursor: pointer;
            transition: color 0.4s ease;
          }
          .outer-menu .menu > div > div > ul > li > a:hover {
            color: $hamburgercolor;
          }
          .outer-menu .menu > div > div > ul > li > a:hover:after {
            width: 100%;
          }
          .outer-menu .menu > div > div > ul > li > a:after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: -0.15em;
            left: 0;
            width: 0;
            height: 2px;
            background: $hamburgercolor;
            transition: width 0.4s ease;
          }
       
       
    }


    .logo{

        color: white;
        align-self: center;
        flex: 2;
        text-align: center;
            #logo{
                width: 45px;
                height: 40px;
                padding-top: 10px;
            }
      
   
    }

    .extension{
        background-color: rgb(152, 40, 40);
        align-self: center;
        flex: 1;
    }


    #logoham{
        width: 135px;
        height: 120px;
    }
    


  

}

/*HEADER ENDS*/



/*BODY Begins*/


.body1article{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  

        .seafloortext{
            color: $yellowtext;
            text-align: center;
            font-size: 39px;
            font-weight: 900;
            font-style: normal;
            
        }
}
.mobilebody1{
  background-image: url(../img/habitats-desktopblurred.png);
  background-size: cover;
  background-position: 80% 30%;
  height: 100vh;
}  

.itemarticle3{
  margin-bottom: 10px;
}





.seafloortextmobile{
  
  text-align: center;
  margin:10px;
  padding-top: 45%;
 
  
}

.shabitat-mobile{
  font-size: 39px;
  font-weight: 900;
  font-style: normal;
  color: $yellowtext;
  letter-spacing: 0.1em;
  
}
.subhabitat-text-mobile{
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  color: $yellowtext;
  letter-spacing: 0.1em;
 
}
.white-subtext-habitat-mobile{

  font-size: 18px;
  color:#ffffff;
  


}


/*BODY 3 end*/



.body3article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $articlebackground;
    

    .articletext1{
    padding-left: 31px;
    padding-right: 31px;
    margin: 10px;
    margin-bottom: 10px;
    
    }


    .itemarticle {

        width: 100%;
        height: 175px;
        background-size: cover;
        margin-bottom: 10px;

     
    }

    .itemarticle2{
      width: 100%;
      height: 260px;
      background-size: cover;
      margin-bottom: 20px;
      margin-top:20px;
        
    }



    .itemarticle3{
      width: 100%;
      height: 300px;
      background-size: cover;
     
      
    }

    .itemarticle4{
      width: 100%;
      height: 319px;
      background-size: cover;
    
    }



  
}

.txtwhite{
    font-size: 16px;
    color: white;
    text-align: left;
}



h1{

    color: $yellowtext;
    text-align: center;
}

.video1{

    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    height: 244px;
}



.video2{

  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 260px;
}


/*BODY 3 end*/


/*FOODS BEGINS*/

.body1food{

  width: 100%;
  height: 675px;
  display: flex;
  flex-direction: column;
  

      .foodtext{
          color: $yellowtext;
          text-align: center;
          font-size: 39px;
          font-weight: 800;
          
      }
}

.mobile1food{
  background-image: url(../img/food-blurred.png);
  background-size: cover;
  background-position: 20% 90%;
  height: 100vh;
  
}
/*zones mobile */
.mobile-zone{
  display: block;
  color: $yellowtext;
  text-align: center;
  margin-top: 120px;
  padding: 35px;
  
}

.zonestext-mobile{
  font-size: 39px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.subzone-text-mobile{
  font-size: 23px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.white-subtext-zone-mobile{
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  
}

.subtextfood{

  display: block;
  color: $yellowtext;
  text-align: center;
  margin-top: 120px;
  padding: 30px;
  
}
.sustenance{
  font-size: 39px;
  font-weight: 900;
  letter-spacing: 0.1em;
}
.lowertext {
  
  font-size: 23px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.white-subtext-food{

  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  
  

}

.body1habitat{

  width: 100%;
  height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/Vents-on-the-Juan-de-Fuca-ridge.jpg);
  background-size: cover;;
  background-position: 80% 90%;

      .habitattext{
          color: $yellowtext;
          text-align: center;
          font-size: 39px;
          font-weight: 800;
          
      }

  
}



.mobile1zones{
  background-image: url(../img/zones-blurred.png);
  background-position: 50% 80%;
  background-size: cover ;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body2prespeach{

  background-color: $articlebackground;
  height: 100px;
  display: flex;
      
}

.body3article{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $articlebackground;

  .articletext1{
  padding-left: 31px;
  padding-right: 31px;
  
  }


  .itemarticle {

      width: 100%;
      height: 175px;
      background-size: cover;
      margin-bottom: 20px;
      margin-top: 20px;

   
  }

  .itemarticle2{
    width: 100%;
    height: 260px;
    background-size: cover;
    margin-bottom: 20px;
      
  }



  .itemarticle3{
    width: 100%;
    height: 260px;
    background-size: cover;
    margin-top: 10px;
  }

  .itemarticle4{
    width: 100%;
    height: 319px;
    background-size: cover;

  }

.itemarticlebox-1{

  
  background-image: url(../img/image32.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.itemarticle2box-1{

  
  background-image: url(../img/Vents-on-the-Juan-de-Fuca-ridge.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.itemarticle3box-1{
  background-image: url(../img/jeronimo-martins-nudibranch.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  

}

.itemarticle4box-1{
  background-image: url(../img/tmpnull.gif);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

}

.txtwhite{
  font-size: 16px;
  color: white;
  text-align: left;
}

h1{

  color: $yellowtext;
  text-align: center;
}

.video1{
  margin-top: 25px;
  margin-bottom: 60px;
  width: 100%;
  height: 244px;
}

.video0{
  
  margin-top: 25px;
  margin-bottom: 60px;
  width: 100%;
 

}

.video4{
  width: 100%;

 
}

.listofmembers{

  list-style: none;
  color: $yellowtext;
  text-align: center;
  padding: 0;
  margin: 0;
}


.video2{

margin-top: 25px;
margin-bottom: 25px;
width: 100%;
height: 260px;
}

.subtextzone, .subzone-text, .white-subtext-zone{
  display: none;
}

/*DESKTOP CODE*/

.headerdesktop{
  display: none;
}

.subtextsuste{
  display: none;
}

.bodydesktopmenu{
  display: none;
}

.subtexthabitat{
  display: none;
}

.body2desktop{
  display: none;
}

p{
  margin-bottom:5px;
}

/*DESKTOP CODE*/


@media (min-width:  769px) {

  

.header,.body3article
,.seafloortextmobile,.subtextfood,.white-subtext-food,.body2prespeach,.mobile-zone {
  display: none;
}

a {
	color:$dekstoptextcolor;
	text-decoration: none; 


}.mobilebody1{
  background-image: none;
}
.mobile1zones{
  background-image: none;
}


.menuhover:hover{
  
  -webkit-mask-image: linear-gradient(-75deg, rgba(105, 23, 23, 0.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2.5s infinite;
}




@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.body1article{

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transform-style: preserve-3d;
  
  

      .seafloortext{
          color: $yellowtext;
          text-align: center;
          font-size: 39px;
          font-weight: 900;
          font-style: normal;
          letter-spacing: 0.1em;
          
      }
}

.body1article::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-image: url("../img/habitats-desktopblurred.png");
  background-size: cover;
  background-position: 10% 90%;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2);
}

.body1food{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.body1food::before{
  content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("../img/food-blurred.png");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}


li{


  list-style-type: none;
	margin-left: 30px;
}


.headerdesktop{
  display: flex;

  padding-top: 20px;
  padding-bottom: 20px;




  .logodekstop{
   
    width: 45px;
    height: 40px;
    flex-grow: 1;
    text-align: center;
    
    
    
    
  }

  .menudekstop{
    display: flex;
    flex: row;
    margin-left: 5%;
    align-self: center;

  
  
    
   
  }

  .menudekstop2{
    display: flex;
    flex: row;
    align-self: center;
    margin-right: 5%;
  
  }


}

.body1zones{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.body1zones::before{

  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-image: url("../img/zones-blurred.png");
  background-size: cover;
  background-position: 30% 50%;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2);

}

.body2desktop{
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $desktopbackgroundcolor;
}

.bodydesktopZONE1stline{

  display: flex;
  margin-top: 110px;
  padding-left: 44px;

}
/*zone main view*/
.subtextzone{
  display: block;
  color: $yellowtext;
  text-align: center;
  margin-top: 170px;
  padding-left: 300px;
  padding-right: 300px;
}
.zonestext{
  color: $yellowtext;
  text-align: center;
  font-size: 39px;
  font-weight: 900;
  letter-spacing: 0.1em;
  
  
}


.subzone-text{
  display: block;
  color: $yellowtext;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.1em;
  
}
.white-subtext-zone{
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

/*food main view*/
.subtextsuste{

  display: block;
  color: $yellowtext;
  text-align: center;
  margin-top: 200px;
  
}

.foodtext{
    margin:10px;
    color: $yellowtext;
    text-align: center;
    font-size: 39px;
    font-weight: 900;
    letter-spacing: 0.1em;
          
}

.lowertext-desktop{
  display: block;
  color: $yellowtext;
  text-align: center;
  font-size:30px;
  letter-spacing: 0.1em;

}

.white-subtext-food-desktop{
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  
}

/*habitat main view*/
.white-subtext-habitat{

  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  
}

.subtexthabitat{
  display: block;
  color: $yellowtext;
  text-align: center;
  margin-top: 200px;
  
  
}

.subhabitat-text{
  display: block;
  color: $yellowtext;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.1em;
  
  
}

p{
  margin-bottom: 5px;
}

.bodydesktopmenu{
  display: flex;
  flex-direction: column;
  background-color: $desktopbackgroundcolor;
  z-index: 2;
  position: relative;
}

.bodydesktopmenu1stline{
  display: flex;
  margin-top: 110px;
  padding-left: 44px;
}

.articleimagedesktoptext{
  flex: 1;
  align-self: center;
  margin-right: 10%;

  h1{
    text-align: left;
  }
}
.articleimagedesktop{
flex: 2;
align-self: center;
width: 60vh;
height: 60vh;
border-top:  solid 30px $desktopbackgroundcolor;
border-bottom:  solid 30px $desktopbackgroundcolor;
border-left:  solid 30px $desktopbackgroundcolor;
outline: $dekstoptextcolor solid 1px;

  .picturein{
    width: 100%;
    height: 100%;
  }


}

.bodydesktopmenu2{
  display: flex;
  margin-top: 150px;
  margin-right: 44px;
  margin-left: 44px;
}


.bodydesktopmenu22{
  display: flex;
  padding-top: 150px;
  margin-bottom: 60px;
  margin-right: 44px;
  margin-left: 44px;

}

.bodydesktopmenu3stline{
  display: flex;
  margin-top: 140px;
  padding-top: 60px;
  border-top:  solid 1px $dekstoptextcolor;
  padding-bottom: 60px;
  border-bottom:  solid 1px $dekstoptextcolor;
 
  

  .articleimagedesktoptext3{
    flex: 1;
    align-self: center;
    margin-right: 3%;
    margin-left: 3%;
  
    h1{
      text-align: center;
      margin-top: 0;
    }
  }
  .articleimagedesktop3{
  flex: 1;
 
  width: 61vh;
  height: 60vh;
  

  
    .picturein3{
      width: 100%;
      height: 100%;
    }
  
  
  }

}


.bodydesktopmenu4stline{
  display: flex;
  padding-left: 44px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top:  solid 1px $dekstoptextcolor;

}

.articleimagedesktoptext4{
  flex: 1;
  align-self: center;
  margin-right: 10%;

  h1{
    text-align: left;
  }
}
.articleimagedesktop4{
flex: 2;
align-self: center;
width: 60vh;
height: 60vh;


  .picturein4{
    width: 100%;
    height: 100%;
  }


}




.bodydesktopmenu222{
  display: flex;
  padding-top: 120px;
  padding-bottom: 200px;
  border-top:  solid 1px $dekstoptextcolor;
  border-bottom:  solid 1px $dekstoptextcolor;

}

.video222{
  margin-right: 44px;
  margin-left: 44px;
  width: 100%;
}

.body2article{
  display: none;
}




}  