@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/*HEADER STARTS*/
.header {
  background-color: #161B33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 62px;
  padding-left: 15px;
  padding-right: 31px;
  /*Sticky header kod*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  /*////Sticky header kod*/
}

.header .menumain {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .menumain .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menumain * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.header .menumain a,
.header .menumain a:visited,
.header .menumain a:hover,
.header .menumain a:active {
  color: inherit;
  text-decoration: none;
}

.header .menumain h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}

.header .menumain .outer-menu {
  top: 10vh;
  left: 0;
  z-index: 1;
}

.header .menumain .outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.header .menumain .outer-menu .checkbox-toggle:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header .menumain .outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.header .menumain .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header .menumain .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}

.header .menumain .outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}

.header .menumain .outer-menu .checkbox-toggle:checked ~ .menu > div {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

.header .menumain .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.header .menumain .outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.header .menumain .outer-menu .hamburger {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 60px;
  height: 50px;
  padding: 0.5em 1em;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menumain .outer-menu .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: #F1DAC4;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menumain .outer-menu .hamburger > div:before,
.header .menumain .outer-menu .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .menumain .outer-menu .hamburger > div:after {
  top: 10px;
}

.header .menumain .outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menumain .outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #fefefe;
  background-image: url(../img/menu-backgroundblur.png);
  background-size: cover;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menumain .outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menumain .outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}

.header .menumain .outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}

.header .menumain .outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.header .menumain .outer-menu .menu > div > div > ul > li > a:hover {
  color: #F1DAC4;
}

.header .menumain .outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}

.header .menumain .outer-menu .menu > div > div > ul > li > a:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #F1DAC4;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

.header .logo {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

.header .logo #logo {
  width: 45px;
  height: 40px;
  padding-top: 10px;
}

.header .extension {
  background-color: #982828;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header #logoham {
  width: 135px;
  height: 120px;
}

/*HEADER ENDS*/
/*BODY1 Begins*/
.body1 {
  background-image: url(../img/ilustrejszynFinished.png);
  background-size: cover;
  background-position: 60%;
  width: 100%;
  height: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body1 .body1text1 {
  color: #F1DAC4;
  font-size: 23px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 85px;
}

.body1 .body1text2 {
  color: #F1DAC4;
  font-size: 23px;
  text-align: center;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: 25px;
}

/*BODY1 End*/
/*BODY2 Begins*/
.body2 {
  background-color: #161B33;
  color: #F1DAC4;
  height: 100%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 90px;
}

/*BODY2 End*/
/*BODY 3 begins*/
.body3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(16%, #0d0c1d), color-stop(85%, #161b33));
  background: linear-gradient(0deg, #0d0c1d 16%, #161b33 85%);
  /*box highlights
    #imtb{
        border-top: 3px double $yellowtext;
        border-bottom: 3px double $yellowtext;
        border-radius: 31px;
    }
boxhightlight*/
}

.body3 .item {
  width: 100%;
  height: 195px;
  background-size: cover;
  margin-bottom: 50px;
}

/*BODY 3 end*/
.spiecename {
  color: #F1DAC4;
  margin-bottom: 35px;
  font-size: 1.4em;
}

.spiecenamewithspace {
  color: #F1DAC4;
  margin-top: 80px;
  margin-bottom: 35px;
  font-size: 1.4em;
}

.body1article {
  width: 100%;
  height: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/seafloor.jpg);
  background-size: cover;
  background-position: 20% 90%;
}

.body1article .seafloortext {
  color: #F1DAC4;
  text-align: center;
  font-size: 39px;
  font-weight: 800;
}

.body2article {
  background-color: #0D0C1D;
  color: white;
  height: 100%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.body2article .arttext1 {
  text-align: center;
}

.body3article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0D0C1D;
}

.body3article .itemarticle {
  width: 100%;
  height: 195px;
  background-size: cover;
  margin-bottom: 50px;
}

/*DESKTOP CODE*/
.headerdesktop {
  display: none;
}

.gallery {
  display: none;
}

/*DESKTOP CODE*/
@media (min-width: 769px) {
  .header {
    display: none;
  }
  a {
    color: #F1DAC4;
    text-decoration: none;
  }
  li {
    list-style-type: none;
    margin-left: 30px;
  }
  .headerdesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .headerdesktop .logodekstop {
    width: 45px;
    height: 40px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
  .headerdesktop .menudekstop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
        -ms-flex: row;
            flex: row;
    margin-left: 5%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .headerdesktop .menudekstop2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
        -ms-flex: row;
            flex: row;
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 5%;
  }
  .body1 {
    background-image: url(../img/ilustrejszynFinished.png);
    background-position: 50%;
    height: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .body1 .textonhomepagedesk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body1 .textonhomepagedesk .body1text1 {
    color: #F1DAC4;
    font-size: 23px;
    height: 200px;
    width: 200px;
    padding-left: 15%;
    padding-top: 3%;
  }
  .body1 .textonhomepagedesk .body1text2 {
    color: #F1DAC4;
    font-size: 27px;
    height: 250px;
    width: 270px;
    padding-right: 10%;
    padding-top: 10%;
  }
  .body2 {
    background-color: #161B33;
    padding: 50px 50px;
  }
  .body2 .divedown {
    font-size: 2em;
    color: #F1DAC4;
    font-weight: 700;
  }
  .spiecenamewithspace, .spiecename {
    display: none;
  }
  .body3 {
    display: none;
  }
  .gallery {
    background-color: #161B33;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 4.9%;
    padding-right: 4.9%;
    padding-bottom: 71px;
  }
  .gallery .firststlineingallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery .firststlineingallery .gimage1 {
    width: 100%;
    height: 100%;
  }
  .gallery .firststlineingallery .gallery1stline {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .gallery .firststlineingallery .empty {
    background-color: #161B33;
    width: 4.9%;
  }
  .gallery .secondlineingallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery .secondlineingallery .leftgimage {
    width: 100%;
    height: 100%;
    max-width: 812px;
    max-height: 750px;
  }
  .gallery .secondlineingallery .leftimageblock {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .gallery .secondlineingallery .empty {
    background-color: #161B33;
    width: 4.9%;
  }
  .gallery .secondlineingallery .gimage2 {
    width: 100%;
    height: 100%;
    max-width: 812px;
    max-height: 330px;
  }
  .gallery .secondlineingallery .space {
    padding-bottom: 71px;
  }
  .gallery .secondlineingallery .gallery2stline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .gallery .secondlineingallery .emptyhorizontal {
    background-color: #161B33;
  }
  .gimage3 {
    width: 100%;
    height: 100%;
    max-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gimage4 {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .menuhover:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(105, 23, 23, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    -webkit-animation: shine 2.5s infinite;
            animation: shine 2.5s infinite;
  }
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
  }
  /*Galery animation FIRST*/
  div.snip1104 {
    position: relative;
    overflow: hidden;
    background: #000000;
    color: #ffffff;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  div.snip1104 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  div.snip1104 img {
    max-width: 100%;
    position: relative;
    opacity: 0.4;
  }
  div.snip1104 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  div.snip1104 h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
  }
  div.snip1104 h2 span {
    font-weight: 800;
  }
  div.snip1104:before {
    height: 90%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    background: #3636AF;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);
  }
  div.snip1104 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  div.snip1104.blue {
    background: #123851;
  }
  div.snip1104.blue h2 {
    background: #0a212f;
  }
  div.snip1104.red {
    background: #581a14;
  }
  div.snip1104.red h2 {
    background: #36100c;
  }
  div.snip1104.yellow {
    background: #7f5006;
  }
  div.snip1104.yellow h2 {
    background: #583804;
  }
  div.snip1104:hover img,
  div.snip1104.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  div.snip1104:hover h2,
  div.snip1104.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  }
  div.snip1104:hover:before,
  div.snip1104.hover:before {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%);
  }
  /*Gallery animation first ends*/
  /*Gallery animation second begins*/
  div.snip1106 {
    position: relative;
    overflow: hidden;
    background: #000000;
    color: #ffffff;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  div.snip1106 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  div.snip1106 img {
    max-width: 100%;
    position: relative;
    opacity: 0.4;
  }
  div.snip1106 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  div.snip1106 h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
  }
  div.snip1106 h2 span {
    font-weight: 800;
  }
  div.snip1106:before {
    height: 66%;
    width: 80%;
    top: 0;
    left: 0;
    content: "";
    background: #3636AF;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);
  }
  div.snip1106 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  div.snip1106.blue {
    background: #123851;
  }
  div.snip1106.blue h2 {
    background: #0a212f;
  }
  div.snip1106.red {
    background: #581a14;
  }
  div.snip1106.red h2 {
    background: #36100c;
  }
  div.snip1106.yellow {
    background: #7f5006;
  }
  div.snip1106.yellow h2 {
    background: #583804;
  }
  div.snip1106:hover img,
  div.snip1106.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  div.snip1106:hover h2,
  div.snip1106.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  }
  div.snip1106:hover:before,
  div.snip1106.hover:before {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%);
  }
  div.snip1107 {
    position: relative;
    overflow: hidden;
    background: #000000;
    color: #ffffff;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  div.snip1107 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  div.snip1107 img {
    max-width: 100%;
    position: relative;
    opacity: 0.4;
  }
  div.snip1107 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  div.snip1107 h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
  }
  div.snip1107 h2 span {
    font-weight: 800;
  }
  div.snip1107:before {
    height: 90%;
    width: 100%;
    top: 0;
    left: 3%;
    content: "";
    background: #3636AF;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);
  }
  div.snip1107 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  div.snip1107.blue {
    background: #123851;
  }
  div.snip1107.blue h2 {
    background: #0a212f;
  }
  div.snip1107.red {
    background: #581a14;
  }
  div.snip1107.red h2 {
    background: #36100c;
  }
  div.snip1107.yellow {
    background: #7f5006;
  }
  div.snip1107.yellow h2 {
    background: #583804;
  }
  div.snip1107:hover img,
  div.snip1107.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  div.snip1107:hover h2,
  div.snip1107.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  }
  div.snip1107:hover:before,
  div.snip1107.hover:before {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%);
  }
  div.snip1108 {
    position: relative;
    overflow: hidden;
    background: #000000;
    color: #ffffff;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  div.snip1108 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  div.snip1108 img {
    max-width: 100%;
    position: relative;
    opacity: 0.4;
  }
  div.snip1108 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  div.snip1108 h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
  }
  div.snip1108 h2 span {
    font-weight: 800;
  }
  div.snip1108:before {
    height: 119%;
    width: 175%;
    top: -12%;
    left: -32%;
    content: "";
    background: #3636AF;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);
  }
  div.snip1108 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  div.snip1108.blue {
    background: #123851;
  }
  div.snip1108.blue h2 {
    background: #0a212f;
  }
  div.snip1108.red {
    background: #581a14;
  }
  div.snip1108.red h2 {
    background: #36100c;
  }
  div.snip1108.yellow {
    background: #7f5006;
  }
  div.snip1108.yellow h2 {
    background: #583804;
  }
  div.snip1108:hover img,
  div.snip1108.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  div.snip1108:hover h2,
  div.snip1108.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  }
  div.snip1108:hover:before,
  div.snip1108.hover:before {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%);
  }
  div.snip1109 {
    position: relative;
    overflow: hidden;
    background: #000000;
    color: #ffffff;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  div.snip1109 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  div.snip1109 img {
    max-width: 100%;
    position: relative;
    opacity: 0.4;
  }
  div.snip1109 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  div.snip1109 h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
  }
  div.snip1109 h2 span {
    font-weight: 800;
  }
  div.snip1109:before {
    height: 88%;
    width: 128%;
    top: -10%;
    left: -10%;
    content: "";
    background: #3636AF;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);
  }
  div.snip1109 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  div.snip1109.blue {
    background: #123851;
  }
  div.snip1109.blue h2 {
    background: #0a212f;
  }
  div.snip1109.red {
    background: #581a14;
  }
  div.snip1109.red h2 {
    background: #36100c;
  }
  div.snip1109.yellow {
    background: #7f5006;
  }
  div.snip1109.yellow h2 {
    background: #583804;
  }
  div.snip1109:hover img,
  div.snip1109.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  div.snip1109:hover h2,
  div.snip1109.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  }
  div.snip1109:hover:before,
  div.snip1109.hover:before {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%);
  }
}
/*# sourceMappingURL=style.css.map */